$default-background: #ffffff;
$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;


.container {
  // width: 100%;
  padding: 0px;
  margin: 0px;
  height: 100%;
  min-height: 100%;
}
