* {
  // margin: 0px;
  // padding: 0px;
}

.homepage-banner {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.homepage {
  font-size: 80px;
  color: white;
  text-align: center;
}

.intro-in-banner {
  display: flex;
  font-size: 50px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.image-frame {
  width: 25%;
  background-color: purple;
}

.book-image {
  width: 100%;
  height: 100%;
  margin: 20px;
  background-color: white;
}
